<!DOCTYPE html>
<html>
<head> <meta charset="UTF-8" /> 
<title>My To-do Application</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>